@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.main-content {
    margin-left:350px;
    margin-top: 65px;
    

    .inner-content {

        padding: 3rem;
    }

}